{% load static from static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Message Console | Simple Messaging</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	    <script src="{% static 'simple_messaging/js/simple_messaging_ui.js' %}"></script>
        <style>
            /* .container {
                max-width: 960px;
            } */
        </style>
    </head>
    <body class="bg-light">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-md-9 pb-3 mt-3">
                    <h4>Message Console</h4>
                </div>
                <div class="col-md-3 pb-3 mt-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="phone_number" placeholder="Identifier" aria-label="Identifier" aria-describedby="phone-addon">
                        <span class="input-group-text material-icons" id="phone-addon">person</span>
                    </div>
                </div>
            </div>
            <div class="row">
            	{% for channel in channels %}
					<div class="col-md-6 mb-3">
						<h6>{{ channel.1 }}</h6>
						<div class="border rounded-2 p-3 bg-white simple_message_ui_box border-1" id="message_box_{{ channel.0 }}" style="overflow-y: scroll;">
						</div>
					</div>
				{% endfor %}
                <div class="col-md-12 mb-3 d-flex">
					<div class="input-group flex-grow-1">
						<textarea id="message" placeholder="Message" aria-label="Message" class="form-control" rows="2"></textarea>
					</div>
					<div class="flex-grow-0 ps-3">
						<div class="input-group" style="width: 100px;">
							{% if media_enabled %}
								<button class="btn btn-outline-secondary material-icons" id="upload_button" type="button">backup</button>
								<input type="file" id="attachment" class="d-none">
							{% endif %}
							{% if precomposed %}
								<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">TXT</button>
								<ul class="dropdown-menu">
									{% for message in precomposed %}
										<li><a class="dropdown-item precomposed-message" href="#" data-message="{{ message.1 }}">{{ message.0 }}</a></li>
									{% endfor %}
								</ul>
							{% endif %}
							<button class="btn btn-outline-secondary material-icons" id="send_button" type="button">send</button>
						</div>
						<div class="mt-2">
							<small>
								<strong id="character_count">(Count Here)</strong>
							</small>
						</div>
	                </div>
                </div>
            </div>
        </div>
    </body>
    <script>
		{% if identifier %}
			window.lastPhone = "{{ identifier }}"
		{% else %}
			{% if request.session.simple_messaging_ui_last_phonenumber %}
				window.lastPhone = "{{ request.session.simple_messaging_ui_last_phonenumber }}"
			{% else %}
				window.lastPhone = "";
			{% endif %}
		{% endif %}
		
		window.simpleMessagingChannels = []
		
       	{% for channel in channels %}
			window.simpleMessagingChannels.push(['{{ channel.0 }}', '{{ channel.1 }}',])
		{% endfor %} 
	</script>
</html>
